# Backend files
backend/.env
backend/node_modules
backend/src/scripts/.env
backend/test.ts
fin_wslt.txt
backend/fin_wslna.txt
# frontend files
frontend/.env
frontend/node_modules
#Main files
.vscode/
.idea/
.cache/
docker-compose.override.yml